<ion-content>

  <ion-row>
    <div style="background-color: #0058a0; width: 100%; height: 180px; text-align: center">
      <ion-icon name="md-finger-print" style="font-size: 8em; color: white; padding-top: 33px"></ion-icon>
    </div>
  </ion-row>

  <ion-card-content text-center>
    <ion-card-title>
      Fingerprint Available
    </ion-card-title>
    <p>
      Use fingerprint to login into the app
    </p>
  </ion-card-content>

  <div text-center style="bottom: 20px;
    position: absolute;
    width: 100%;">
    <div>
      <button (click)="enable()" class="custom-btn" ion-button color="primary" style="width: 80%">ENABLE FINGERPRINT</button>
    </div>

    <div >
      <button (click)="skip()" ion-button color="dark" clear>I'll do it later</button>
    </div>
  </div>



</ion-content>
