
<ion-content padding>

  <div class="landing-container" padding>

    <ion-row>
      <ion-col  text-center>
        <img class="header-image" src="assets/img/logo/logo-vntpay.png">
      </ion-col>

    </ion-row>

    <ion-row style="margin-top: 120px;color: white">
      <ion-col col-12 text-center>
        <ion-icon style="font-size:64px;" name="md-card"></ion-icon>
      </ion-col>
      <ion-col col-12 text-center>
        <h3>Heading</h3>
        <p style="font-size: 16px;">
          I am the message
        </p>
      </ion-col>

    </ion-row>



  </div>


  <div  class="bottom">
    <button ion-button style="background-color: transparent;float: left;width: 50%;color:white"  no-padding no-margin color="primary"
            class="customBtnHeight" (click)="goToSignInPage()">
      SIGN IN
    </button>
    <button ion-button style="background-color: transparent;float: right;width: 50%;color:white" no-padding no-margin   color="teal"
            class="customBtnHeight" (click)="goToSignupPage()">
      SIGN UP
    </button>


  </div>





</ion-content>
