page-landing {
.landing-container{
  display: block;
  position: absolute;
  width: 100%;
  left:0;
}

  .header-image {
    width: 70%;
    height: auto;
  }
  .scroll-content{
    background: rgba(0, 87, 162, 0.42);  /* fallback for old browsers */
    background: -webkit-linear-gradient(#f9f9f9, #0058a0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#f9f9f9, #0058a0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }
}
