page-storedetails {
.sd_miletoHeading{
    font-size: 1.4em;
    color: black;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 15px;
}

.sd_addressComponents{
    font-size: 1.1em;
    color: grey;
    padding-bottom: 10px;
    text-align: center;
    white-space: pre-line;
}

.sd_phoneAemail{
    font-size: 1.1em;
    color:color($colors, primary);
    text-align: center;
    text-decoration: underline;
}

.backArrow{
    font-size: 30px;
  }
  
  .backArrow_lg{
    font-size: 36px;
  }

}
