<!--
  Generated template for the StoredetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
      <ion-buttons id="SP_theExtraBackButton" left>
          <button ion-button icon-start clear (click)="this.navCtrl.pop()">
            <ion-icon name="arrow-back"  [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title>storedetails</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
<h2 class="sd_miletoHeading"> {{storeHeader}} </h2>
<p class="sd_addressComponents"> {{storeAddress}} </p>
  <div style="display: flex; flex-direction: row; justify-content: center;">
    <button ion-button clear  style="text-decoration: underline; text-transform: lowercase; " on-tap="callMileto()">
      {{phone}}
    </button>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: center;">
    <button ion-button clear  style="text-decoration: underline; text-transform: lowercase; "  on-tap="emailMileto()">
      {{email}}
    </button>
  </div>




</ion-content>
