page-forgot-password {
  .card-md .item-md.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
    border: 0;
  }

  .custom-card{
    display: block;
    width: 100%;
    padding: 13px 16px 40px 16px;
    font-size: 1.4rem;
    line-height: 1.5;
    overflow: hidden;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }



  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    margin-top: 15px;
  }
  .scroll-content{
    background-color: rgba(128, 128, 128, 0.08);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }

  .or-container{
    width: 100%;
    text-align: center;
    position: relative;
    top: -10px;
  }

  .or-container span{
    background-color:white;
    width: 50px;
    color: gray;
    height:50px;
    border-radius: 50%;
    padding:5px;
    border: 1px solid gray
  }
}
