
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-capitalize>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>



  <div class="custom-card">

    <h5 text-center style="opacity: 0.6">
      We will send you password reset link
    </h5>


    <form [formGroup]="form" (ngSubmit)="forgotPassword()">

      <div style="padding-right: 18px;">
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input text-lowercase formControlName="email"
                     type="email">
          </ion-input>

        </ion-item>
        <div class="error" *ngIf="form?.get('email').hasError('required') && form.get('email').touched">
          Email is required
        </div>

        <div class="error"  *ngIf="form.get('email').hasError('pattern') && form.get('email').touched">
          Enter valid email
        </div>
      </div>



      <div style="display: flex;align-items: flex-end;justify-content: flex-end;"margin-top="10px" >
        <button ion-button type="submit" color="primary">

          Submit
        </button>
      </div>
    </form>



  </div>





  <!--


    <button ion-button block color="teal" [disabled]="!credentialsForm.valid" class="customBtnHeight bottom" (click)="onSignIn()">
      Sign in
    </button>-->
</ion-content>
