page-orderdetails {
  ion-title {
    position: absolute;
    top: 27.5%;
    left: 25%;
  }
  .item-md {
    padding-left: 0px;
  }
  .item-inner {
    left: 30px;
  }
  .quantity {
    position: relative;
    height: 100px;
    width: 50px;
    float: left;
    padding-left: 0;
  }
  .plus {
    position: absolute;
  }
  .plusIcon {
    padding: 0 0.1em;
    color: #A8A8A8;
    font-size: 30px;
  }

  .plusIcon_lg {
    padding: 0 0.1em;
    color: #A8A8A8;
    font-size: 36px;
  }

  .circle {
    position: absolute;
    left: 1%;
    top: 30%;
  }
  .minus {
    position: absolute;
      bottom: 0%;
  }
  .minusIcon{
    color: black;
    padding: 0 0.1em;
    color: #A8A8A8;
    font-size: 30px;
  }

  .minusIcon_lg{
    color: black;
    padding: 0 0.1em;
    color: #A8A8A8;
    font-size: 36px;
  }

  .order {
    position: absolute;
    height: 110px;
    left: 75px; 
    padding: 8px 0px 5px 0px;
    .size {
      position: absolute;
      top: 28%;
      left: -7.5%;
    }
  }
  .image {
    max-width: 85px !important;
    max-height: 85px !important;
    margin: 0px;
    float: right;
  }
  .ion-list {
    height: 20px;
    transform: translate(0px, -20px);
  }
  ion-footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    background-color: #7986CC;
    width: 100%;
    height: 56px;
   .h2Total{
      margin: 0px;
      font-style: normal;
      font-size: 1.0em;
      padding : 0px 16px 0px 16px;
    }
    .h2TotalAmount{
      margin: 0px;
      font-style: normal;
      font-size: 0.8 em;
      display: inline;
      color: white;
      padding-left: 12px;
    }
    .placeOrder {
      float: right;
      padding: 28px 16px 28px 16px;
      margin: 0px;
    }
    .updateOrder{
     // margin-top: 5%;
      display: inline;
    }
    .deleteOrder{
      margin-top: 5%;
      display:inline-block;
    }
    p {
      position: absolute;
      top: 0%;
      left: 10%;
    }
    .total {
      float: left;
      padding: 16px 0px 16px 16px;
    }
    .h2PlaceOrder{
      margin: 0px;
      font-style: normal;
      font-size: 0.9em;
      padding: 28px 16px 28px 16px;
    }

    .h2PlaceOrder1{
      font-style: normal;
      font-size: 0.9em;
      display: inline-flex;
    }
    .h2PlaceOrder2{
      font-style: normal;
      font-size: 0.9em;
      display: inline;
    }
  }

  .flowerName{
    font-size: 1.3em;
    font-style: normal;
    display: block;
    white-space: pre-line;
    text-transform: capitalize;
    padding-left: 0px;
    padding-right: 0px;
  }

  .flowerCost{
    font-size: 0.9em;
    font-style: normal;
    color: blue;
    padding: 10px 0px 5px 0px;
    height: 22px;
  }

  .flowerColor{
    color: darkgrey;
    font-size: 0.85em;
    font-style: normal;
    padding-left: 10px;
    text-transform: capitalize;
    height: 22px
   // align-self: center
  }

  .flowerSize{
    color: darkgrey;
    font-size: 0.85em;
    font-style: normal;
    text-transform: capitalize;
    padding-left: 0px;
   // align-self: center
  }

  .offSeasonAlert{
    max-width: 200px;
    color: #ffc200;
    font-size: 0.7em;
    font-style: normal;
    text-transform: none;
    padding-bottom: 1px;
    padding-top: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
  }

  .offSeasonAlert_paddingTop{
    max-width: 200px;
    color: #ffc200;
    font-size: 0.7em;
    font-style: normal;
    text-transform: none;
    padding-bottom: 1px;
    padding-top: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
  }

  .removeFlowerButDiv{
    float: right;
  }
  .removeIconColor{
    color: black; 
  }

  .successOrderPlace2{
    font-size: 1.0em;
    font-style: italic;
    color: white;
    padding-left: 70%;
    float: right;
    position: absolute
    
  }

  .h2remove{
    color: gray;
    font-size: 0.8em;
    padding-left: 0px;
    padding-right: 16px;
  }
  .h2Comment{
    color: gray;
    font-size: 0.8em;
    padding-left: 0px;
  }

  .h2Special{
    color: gray;
    font-size: 0.8em;
   // font-weight: 600;
  }

  .specialOrderCb{
    font-size: 0.8em;
    margin-top: 13px;
    padding-left: 16px;
  }

  .specialOrderLb{
    color: gray;
    font-size: 1em;
    margin-top: 11px;
    padding-right: 20px;
    padding-left:7px ;
    font-weight: 400;
  }
  .od_ion_item{
    min-height: 175px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
