<ion-content  padding>

    <ion-fab bottom right id="fabAddButton" >
        <button ion-fab color="secondary" (click)="addProductRootSelector()">
            <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>

  <ion-card no-lines  *ngFor="let product of espr.array_flowerDetails; let i = index">
    <ion-item class="od_ion_item">

      <h1 class="flowerName">{{product.name}}</h1>

      <div class="quantity">
        <div class="plus">
          <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="incrementFlowerCount(product)" round="true">
            <ion-icon name="add"  [ngClass]="{'plusIcon': !platformId, 'plusIcon_lg': platformId}"></ion-icon>
          </button>
        </div>
        <div class="circle">
          <svg height="40" width="40">
            <circle cx="20" cy="20" r="20" stroke="#BFBFBF" stroke-width="1" fill="#FFFFFF"/>
            <text x="50%" y="62.5%" text-anchor="middle" stroke="#BFBFBF" stroke-width="1px" >
              {{product.qty}}</text>
          </svg>
        </div>
        <div class="minus">
          <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="decrementFlowerCount(product)" round="true">
            <ion-icon name="remove" [ngClass]="{'minusIcon': !platformId, 'minusIcon_lg': platformId}"></ion-icon>
          </button>
        </div>
      </div>

      <div class="order" >
        <div style="display: inline-flex;flex-direction: row; align-content: center; height: 22px;">
        <p *ngIf='product.size=="medium"' class="flowerSize">Standard          </p>
        <p *ngIf='product.size!="medium"' class="flowerSize"> {{product.size}} </p>
        <p class="flowerColor">{{product.color}}</p>
        </div>

        <br>
        <h1 class="flowerCost">${{product.cost}}</h1>
        <!-- Comment -->
        <p  style="color:#242424" *ngIf='product.comment' class="offSeasonAlert" style="padding-top: 32px" (click)="comment(product)" > "{{product.comment}}"</p>
         <!---  off season warning -->
        <p *ngIf='product.offSeason' [ngClass]="{'offSeasonAlert': product.comment , 'offSeasonAlert_paddingTop' : !product.comment }" > *Off season,To be confirmed by store.</p>
        <br>
      </div>
      <div class="image">
        <img [src]=product.url>
      </div>
    </ion-item>
    <div style="display:inline-flex; flex-direction: row ; width: 100%">
        <div style="width: 33%; display: inline-flex; flex-direction: row">
        <ion-checkbox class="specialOrderCb" [(ngModel)]="product.isSpecial" (click)="specialOrderStatusChange(product)"></ion-checkbox>
        <button  ion-button clear  round="true">
            <p class="h2Special">SPECIAL</p>
        </button>
        </div>

        <div style="width: 33%">
        <button  ion-button clear (click)="comment(product)" round="true">
            <p class="h2Comment">COMMENT</p>
        </button>
        </div>

        <div style="width: 33%">
        <button  ion-button clear (click)="removeFlower(product)" round="true">
           <p class="h2remove">REMOVE</p>
        </button>
        </div>
    </div>
  </ion-card>

</ion-content>
  <ion-footer no-padding no-margin style="position: fixed; bottom: 0;left: 0; right: 0; top: 90%; height: 10%">
    <!--<div class="total">-->
      <!--<h2 class="h2Total">Total:  <span> <h2 class="h2TotalAmount"> ${{this.espr.totalFlowerCostInCart}}</h2></span></h2>-->
    <!--</div>-->

    <div style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
      <div style="display: flex; flex-direction: row;">
        <div style="width: 33%; color: white;">
          <div style="text-align: center; font-size:1.4em ">
            ${{this.espr.totalFlowerCostInCart}}
          </div>
        </div>

        <div style="width: 33%;
                  height: 100%;
              color: white;"
             (click)="qoute()">
          <div style="text-align: center">EMAIL QUOTE</div>
        </div>

        <div id="orderDelete" style="width: 33%; color: white;" (click)="updateOrder()">
          <div style="text-align: center">UPDATE ORDER</div>
        </div>

        <div id="B_placeOrder" style="width: 33%;
                    color: white;" (click)="placeOrder()">
          <div style="text-align: center">
            PLACE ORDER
          </div>
        </div>
        <div id="orderPlaced" style="width: 33%;color: #DEDEDE;">
          <div style="text-align: center">
            {{labelStatusFinal}}
          </div>
        </div>
      </div>
    </div>

</ion-footer>
