page-view-all {
  [col-6] {
    padding: 8px;
  }
  .grid{
    padding: 0px !important;
  }

  .flowerCardDiv_op{
    position: relative; 
    width: 100%; 
    height: 150px; 
    opacity: 0.7;
    filter: grayscale(100%);
  }
  
  .flowerCardDiv{
    position: relative; 
    width: 100%; 
    height: 150px; 
    opacity: 1;
  }

  .backArrow{
    font-size: 30px;
  }
  
  .backArrow_lg{
    font-size: 36px;
  }
}
