<!--
  Generated template for the ViewAllPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
      <ion-buttons id="SP_theExtraBackButton" left>
          <button ion-button icon-start clear (click)="closePage()">
            <ion-icon name="arrow-back" [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>{{title || ''}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="height: 100%; width: 100%;" *ngIf="process==='resolved'">
    <div style="padding: 8px;">
      <ion-grid no-margin> 
        <ion-row>
          <ion-col col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2  *ngFor="let data of filteredProductsData; let i = index" (click)="openSerachPage(data)">
            <div [ngClass]="{'flowerCardDiv': !data.isOffSeason, 'flowerCardDiv_op': data.isOffSeason}">
              <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
                <img [src]="data?.url" width="100%" height="100%">
              </div>
              <div style="height: 40px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 110px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
                   [style.background-color]="data?.hex">
              </div>
              <div style="height: 40px;
                    width: 100%;
                    margin-top: 110px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    justify-content: center;" text-center>
                <span [style.color]="titleColor"
                      style="text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      display:inline-block;
                      text-transform: capitalize;">{{data?.name}}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="center" *ngIf="categoryData.length===0">
      <span>No Flowers Found.</span> 
    </div>
  </div>
  <ion-infinite-scroll threshold="30%" *ngIf="currentLastElementIndex<productsLength" (ionInfinite)="doInfinite($event,'bottom')">
    <ion-infinite-scroll-content> loadingSpinner="bubbles" loadingText="Loading more flowers..."</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
