<ion-content class="main-view">
    <div class="overlay" (click)="this.navCtrl.pop()"></div>
    <br>
    <ion-list class="modal_content">
        <button ion-button clear (click)="closeModal()"  id="cancel"><ion-icon name="close"></ion-icon>
        </button>
      <div id="reminder">
          <h2>Reminder</h2>
            <ion-item>
              <ion-label color="primary" floating>Reminder Text</ion-label>
              <ion-input type="text" [(ngModel)]="rtext"></ion-input>
            </ion-item>
            <ion-item>
                <label  on-tap="pickDate();">{{dateToDisplay}}</label>
                <!-- <ion-datetime displayFormat="DD MMM YYYY HH:mm" pickerFormat="DD MMM YYYY HH:mm" [(ngModel)]="rtime" name="rtime"></ion-datetime> -->
              </ion-item>
              
          </div>
      
      <div id="note">
          <h2>Note</h2>
            <ion-item>
              <ion-label color="primary" floating >Add note to this event</ion-label>
              <ion-textarea rows="5"  [(ngModel)]="ntext"></ion-textarea>
            </ion-item>
      </div>
    
      <div class="action">
          <button ion-button clear (click)="deletetoEvent()" id="delete">DELETE</button>
          <button ion-button clear (click)="saveToEvent()" id="save">SAVE</button>
          <button ion-button clear (click)="edittoEvent()" id="edit">EDIT</button>
            </div>
      </ion-list>
      
</ion-content>
