<ion-header no-border>
  <ion-toolbar class="page-event-modal.ion-navbar" padding>
    <ion-buttons end>
      <button  ion-button clear id="close" clear large="true" (click)="popPage()">
        <ion-icon name="close" [ngClass]="{'toolBarIcon': !platformId, 'toolBarIcon_lg': platformId}"></ion-icon>
      </button>

    </ion-buttons>

    <ion-buttons left>
      <button ion-button clear id="trash" clear large="true" (click)="confirmDelete_aBox()">
        <ion-icon name="trash" [ngClass]="{'toolBarIcon': !platformId, 'toolBarIcon_lg': platformId}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item id="nameOnHeader" style="background-color : #7986CC ; ">
    <ion-input style="color:white; font-weight : bold" type="text" placeholder="Order Title" [(ngModel)]="eventTittle"
               (ionChange)="onNameChange()"></ion-input>
  </ion-item>
</ion-header>

<ion-content style="position: absolute">
  <ion-tabs #eventTabs class="fixed-content" tabsPlacement="top" color="primary">
    <ion-tab [root]="tab1Root" tabTitle="DETAILS"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="ORDER"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="MORE"></ion-tab>
  </ion-tabs>
</ion-content>


