page-event-modal {
  ion-navbar {
    height: 54px;
    #close {
      width: 26px;
      height: 26px;
      padding: 6px 6px 6px 6px;
    }
    #save {
      height: 26px;
      float: right;
    }
  }
  ion-header,
  .toolbar-background,
  .title {
    background-color: #7986CC;
  }
  ion-calendar-week .week-title.transparent,
  .button-inner {
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
  ion-calendar {
    padding: 0px;
  }
  .header-md::after {
    background-size: 100% 0px;

    background-color: #7986CC;
  }
  ion-input {
    &.custom-input {
      font-size: 16px;
      padding: 0px 8px 8px 8px;
      color: white; //sets text font size
      ::placeholder {
        color: white;
        font-size: 16px; //sets placeholder font size
      }
    }
    .text-input text-input-md {
      margin: 0px;
    }
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 -1px 0 0;
    box-shadow: inset 0 -1px 0 0 transparent;
  }

  .toolBarIcon{
    color:white;
     font-size: 28px
  }

  .toolBarIcon_lg{
    color:white;
     font-size: 35px
  }
  
}

