page-display-image {
  .title-div{
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 16px;
    padding-right: 24px;
  }
  .title{
    color: black;
    font-size: 24px;
  }
  .description{
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
  }
}
