<!--
  Generated template for the DisplayImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-toolbar>
    <!--<ion-title>DisplayImage</ion-title>-->
    <ion-buttons end>
      <button ion-button clear icon-only (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div style="text-align: center">
    <img [src]="data?.product?.url_large" width="auto" height="400px;">
  </div>
  <div class="title-div">
    <span class="title">{{data?.product?.name}}</span>
  </div>
  <div class="description">
    <span style="opacity: 0.6; font-size: 14px;">{{data?.product?.description}}</span>
  </div>

</ion-content>
