<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons id="SP_theExtraBackButton" left>
          <button ion-button icon-start clear (click)="this.navCtrl.pop()">
            <ion-icon name="arrow-back"  [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Profile</ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="gotoProfileEditPage()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons> -->
    
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list no-lines>

    <div>
      <form [formGroup]="profileForm" #ngForm="ngForm" style="padding-right: 18px;">
          <ion-item>
              <p style="font-size: 1.0em; color: black">ACCOUNT</p>
            </ion-item>

            <button ion-item detail-none>
                <h2 style="padding-left: 0px; font-size:0.8em ;color: #000">Email</h2>
                <br>
                <p>{{profile?.email}}</p>
              </button>
          
              <button ion-item detail-none >
                <h2 style="padding-left: 0px; font-size:0.8em ;color: #000">Joined on</h2>
                <br>
                <p>{{profile?.createdOn | date:'medium' || 'not available'}}</p>
              </button>
              <hr>
        <ion-item>
          <ion-label stacked>Name</ion-label>
          <ion-input text-capitalize formControlName="name"
                     type="text" [(ngModel)]="profile.name"(ngModelChange)="log(profile.name)" >
          </ion-input>
    
    
    
        <div class="error" *ngIf="profileForm?.get('name').hasError('required') && (profileForm.get('name').touched || ngForm.submitted)">
          Name is required
        </div>
        <div class="error" *ngIf="profileForm?.get('name').hasError('minlength') && ( profileForm.get('name').touched || ngForm.submitted )">
          Name should be of minimum 3 characters
        </div>
    
        <div class="error" *ngIf="profileForm?.get('name').hasError('pattern') && (profileForm.get('name').touched || ngForm.submitted)">
          Name should not contain number or any special characters
        </div>
        </ion-item>
        <hr>
        <ion-item>
          <ion-label stacked>Mobile</ion-label>
      <ion-input  formControlName="mobile"
                 type="number" [(ngModel)]="profile.mobile" (ngModelChange)="log(profile.mobile)">
      </ion-input>
      
        </ion-item>
    </form>
    <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-textarea [(ngModel)]="profile.address"></ion-textarea>
      </ion-item>
    <hr>
    </div>

    <hr no-padding no-margin>


    <div>

      <ion-item>
          <p style="font-size: 1.0em; color: black">PRIVACY & SECURITY</p>        
      </ion-item>

      <ion-item>
        <ion-icon item-start name="finger-print" color="primary"></ion-icon>
        <ion-label>
            <p style="font-size: 0.95em; color: black">Use Fingerprint</p>
          <p>Use it to unlock your app</p>
        </ion-label>
        <ion-toggle [disabled]="!settings.fingerprintAvailable" [(ngModel)]="settings.fingerprintEnabled" (ionChange)="onUpdateFingerprint($event)"></ion-toggle>
      </ion-item>

      <button ion-item  detail-none (click)="goToChangePasswordPage()">
        <ion-icon item-start name="link" color="primary"></ion-icon>
        <p style="font-size: 0.95em; color: black">Change Password</p>
        <p>Change your current password</p>
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>

      </button>

      <button ion-item detail-none (click)="logout()">
        <ion-icon item-start name="log-out" color="primary"></ion-icon>
        <p style="font-size: 0.95em; color: black">Log out</p>
        <p>Log out from App</p>
      </button>

    </div>

  </ion-list>

</ion-content>
