
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-capitalize>Profile Edit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>


  <div class="custom-card">

    <form [formGroup]="profileForm" #ngForm="ngForm" (ngSubmit) ="onProfileUpdate()" style="padding-right: 18px;">

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input text-capitalize formControlName="name"
                   type="text">
        </ion-input>
      </ion-item>

      <div class="error" *ngIf="profileForm?.get('name').hasError('required') && (profileForm.get('name').touched || ngForm.submitted)">
        Name is required
      </div>
      <div class="error" *ngIf="profileForm?.get('name').hasError('minlength') && ( profileForm.get('name').touched || ngForm.submitted )">
        Name should be of minimum 3 characters
      </div>

      <div class="error" *ngIf="profileForm?.get('name').hasError('pattern') && (profileForm.get('name').touched || ngForm.submitted)">
        Name should not contain number or any special characters
      </div>


      <ion-item>
        <ion-label floating>Mobile</ion-label>
        <ion-input  formControlName="mobile"
                   type="number">
        </ion-input>
      </ion-item>


      <div style="display: flex;align-items: flex-end;justify-content: flex-end">
        <button ion-button type="submit"  color="primary"  style="position: relative;top:15px;">
          Update
        </button>
      </div>
    </form>

  </div>


</ion-content>
