<ion-content padding>
  <ion-list class="items">
      <ion-item-group>
          <ion-item-divider (click)="reminderModal()">
            <ion-icon class="icon" name="alarm" item-start></ion-icon>
            <span style="font-size:1.5em;">Reminders</span>
            <button item-end ion-button class="button" style="background-color:grey" clear >
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-item-divider>
          <ion-item *ngFor="let reminder of espr.array_reminderDetails; let i = index" (click)="reminderModal(reminder.reminderId, reminder.time, reminder.reminderText, reminder)">
            
              <p>Added on {{reminder.time | date:"dd"}} {{reminder.time | date:"MMMM"}} {{reminder.time | date:"yyyy"}} | {{reminder.time | date:"hh"}}:{{reminder.time | date:"mm"}} {{reminder.time | date:"aaa"}}</p>
            
              <p><span style="font-size:1.2em">{{reminder.reminderText}}</span></p>
            </ion-item>
        </ion-item-group>  

        <ion-item-group>
            <ion-item-divider (click)="noteModal()">
               <ion-icon class="icon" name="clipboard" item-start></ion-icon>
               <span style="font-size:1.5em;">Notes</span>
              <button item-end ion-button class="button" style="background-color:grey" clear >
                <ion-icon name="add"></ion-icon>
              </button></ion-item-divider>
              <ion-item *ngFor="let note of espr.array_noteDetails; let i = index" (click)="noteModal(note.noteId, note.time, note.noteText, note)"><span style="font-size:1em;">
                <p>Added on {{note.time | date:"dd"}} {{note.time | date:"MMMM"}} {{note.time | date:"yyyy"}}</p>
                <p><span style="font-size:1.2em">{{note.noteText}}</span></p></span></ion-item>
          </ion-item-group>        
       <!-- <ion-icon class="icon" name="alarm" item-start></ion-icon>
      
      <button ion-button class="button" style="background-color:grey" clear (click)="schNot()">
        <ion-icon name="add"></ion-icon>
      </button>
    <ion-item >
        
 <p>Added on 02 January 2018:</p>
      <p>Confirm availability of Red Flowers</p> 
    </ion-item> 
</ion-list> -->
<!-- <input type="datetime-local" placeholder="Notification time"[(ngModel)]="at" floating>

        <ion-input placeholder="Notification title" [(ngModel)]="title" floating></ion-input>
  
        <ion-input placeholder="Notification text" [(ngModel)]="text" floating></ion-input>
        <button ion-button (click)="schNot()">Notify</button> -->
      <!-- <hr>
    <ion-list no-lines class="items">
        <ion-icon class="icon" name="clipboard" item-start></ion-icon>
        <h2>Add Notes</h2>
        <button ion-button class="button" style="background-color:grey">
          <ion-icon name="add"></ion-icon>
        </button>
    <ion-item>
        
        <p>Added on 05 January 2018:</p>
        <p>Mrs Audrey likes Red Flowers</p>
    </ion-item>
    -->
  </ion-list>
</ion-content>