page-home {


  .p-text {
    float: left;
    font-size: 1.2em;
  }
  .view-button {
    float: right;
    height: 34px;
    margin-top: 11px;
  }


  .sliding {
    padding-top: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    height: 170px !important;
  }
  .calendar {
    width: 90px;
    height  : 90px;
    margin: 0px 16px 0px 0px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .calTop {
    background: color($colors, primary);
    height: 20px;
    width: 90px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 6px 0 rgba(0, 0, 0, 0.19);
  }
  .hook {
    position: absolute;
    left: 0%;
    top: -5%;
  }
  
  .month {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin: 0px;
  }
  .date { 
    margin: 0px;
  }
  .day {
    margin: 0px;
    text-align: center;
    vertical-align: middle;
  }
  .event {
    overflow-wrap: break-word;
    font-size: 1em;
    padding: 8px;
    margin: 0px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    align-self: center;
  }
  //.scroll-content {
  //  padding: 0px 16px 16px 16px;
  //}
  .january {
    background-color: #F44336
  }
  .febraury {
    background-color: #E91E63
  }
  .march {
    background-color: #9C27B0
  }
  .april {
    background-color: #673AB7
  }
  .may {
    background-color: #3F51B5
  }
  .june {
    background-color: #2196F3
  }
  .july {
    background-color: #03A9F4
  }
  .august {
    background-color: #00BCD4
  }
  .september {
    background-color: #009688
  }
  .october {
    background-color: #4CAF50
  }
  .november {
    background-color: #8BC34A
  }
  .december {
    background-color: #CDDC39
  }

  .hook {
    position: absolute;
    left: 0%;
    top: -5%;
  }
  .calBot {
    background: linear-gradient(#ffffff, #EEEEEE);
    position: relative;
    width: 90px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 6px 0 rgba(0, 0, 0, 0.19);
  }
  .month {
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    margin: 0px;
    
  }
  .date {
    font-size: 3em;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
  }
  .day {
    margin: 0px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
  }
  .event {
    overflow-wrap: break-word;
    font-size: 1em;
    padding: 8px;
    margin: 0px;
    width: 90px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
  }
  //.scroll-content {
  //  padding: 0px 16px 16px 16px;
  //}
  .january {
    background-color: #F44336
  }
  .febraury {
    background-color: #E91E63
  }
  .march {
    background-color: #9C27B0
  }
  .april {
    background-color: #673AB7
  }
  .may {
    background-color: #3F51B5
  }
  .june {
    background-color: #2196F3
  }
  .july {
    background-color: #03A9F4
  }
  .august {
    background-color: #00BCD4
  }
  .september {
    background-color: #009688
  }
  .october {
    background-color: #4CAF50
  }
  .november {
    background-color: #8BC34A
  }
  .december {
    background-color: #CDDC39
  }

  .menu-container{
    width: 100%;
    height: 170px;
  }

  .dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    outline-color: #333; 
    float: left;
    position: relative;
  }

  #cart-btn {
    position: relative;
 }
 
 #cart-badge {
    position: absolute;
    top: -8px;
    left: 12px;
 }

 .titleicon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align:center;
}

  .slideDiv_op{
    position: relative;
    width: 90px;
    height: 100px; 
    position: relative;
    filter: grayscale(100%);
    opacity: 0.7;
  }

  .slideDiv{
    position: relative;
    width: 90px;
    height: 100px; 
    position: relative;
  }

  .divBackgroundColor{
    background-color: #f4f4f4;
    width: 100%;
    height: 55px;
    vertical-align: -webkit-baseline-middle;
  }
}


