<ion-header>

  <ion-toolbar style="width: 100%"  padding> 


    <ion-buttons style="width: 37%" start>
      <button ion-button menuToggle icon-only clear color="dark">
        <ion-icon name="menu"></ion-icon> 
      </button>
    </ion-buttons>

    <ion-buttons style="width: 63%;align-content: center; padding-left: 32px;"start>
        <button style="width: 150px" ion-button icon-only clear color="dark">
            <img style="width: 100%; height: 100%;" src="assets/img/mileto_logo.png">
        </button>
      </ion-buttons>


    <ion-buttons style="width: 10%" end>
      <button (click)="clickedSearchIcon()" ion-button icon-only>
        <ion-icon style="float: left;" name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons style="width: 15%"  style="padding-left: 17px;" end>
      <button id="cart-btn" (click)=" goToNotification()" ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
        <ion-badge *ngIf="NumberOfNewNot>0" id="cart-badge">{{NumberOfNewNot}}</ion-badge>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <!--<ion-slides [ngClass]="deviceType" autoplay="3000">-->

  <!--<ion-slide>-->
  <!--<img src="https://www.fairytaleflowers.com.au/images/mailheader.gif">-->
  <!--</ion-slide>-->

  <!--<ion-slide>-->
  <!--<img src="https://slm-assets1.secondlife.com/assets/4176824/regular/ffbanner.jpg">-->
  <!--</ion-slide>-->
  <!--</ion-slides>-->
  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>My Upcoming Orders</strong>
    </p>
    <button class="view-button" ion-button outline color="dark" (click)="viewEventsPage()">VIEW ALL</button>
  </div>

  <div class="sliding">
    <div class="calendar" (click)="viewNewEventPage()">
      <div class="calTop">
        <strong>
          <p class="month" style="color:white">MONTH</p>
        </strong>
      </div>
      <div class="calBot">
        <img class="hook" src="assets/img/calendar.png">
        <p class="date" style="font-size: 2.5em;color: #676266;height: 50px;" >+</p>
        <p class="day" style="font-size: 1.25em;color: #676266;">Add New</p>
      </div>
      <strong>
        <p class="event"></p>
      </strong>
    </div>
 
    <div style="display: inline-flex; flex-direction: row"  *ngFor="let event of eventList; let i = index" (click)="viewDetailsPage(i)">

      <div class="calendar" *ngIf="  timestampNow <= event.datetimestamp">  

      <div class="calTop" [ngClass]="event.date | date:'LLLL' | lowercase ">

        <strong>
          <p class="month" style="color:white">{{event.date | date:'LLLL' | uppercase}}</p>

        </strong>
      </div>
      <div class="calBot">
        <img class="hook" src="assets/img/calendar.png">
        
        <p class="date" style="font-size: 3em;color: #676266;height: 50px;" >{{event.date | date:'dd'}}</p>
        <p class="day" style="font-size: 1.25em;color: #676266;">{{event.date | date:'EEEE'}}</p>
      </div>
      <p *ngIf='event.orders == undefined || event.orders.length==0' class="event" >
         <span class="dot" [style.background-color]="'red'"></span> <span>{{event.name}}</span>
      </p>
      <p *ngIf='event.orders != undefined && event.orders.length!=0 && (event.isorderplaced==undefined || event.isorderplaced==false)' class="event" >
          <span class="dot" [style.background-color]="'#ffbf00'"></span> <span>{{event.name}}</span>
      </p>
      
      <p *ngIf='event.orders != undefined && event.orders.length!=0 && (event.isorderplaced!=undefined && event.isorderplaced==true)' class="event">
          <span class="dot" [style.background-color]="'green'"></span> <span>{{event.name}}</span>
      </p>
    </div>
    </div>

  </div>

  <div class="divBackgroundColor">
      <p class="p-text">
        <strong>My Favourite Flowers</strong>
      </p>
      <button class="view-button" ion-button outline color="dark"
              (click)="viewAllPage('#000000','favourite','Favourite Flowers',category?.favourite)">VIEW ALL
      </button>
    </div>
  
    <div class="sliding">
      <div class="menu-container" *ngIf="favouriteProcess==='resolved'">
        <div class="calendar" *ngFor="let favourite of category?.favourite; let i = index"
             (click)="openSearch(favourite,'favourite')"> 
          <div [ngClass]="{'slideDiv': !favourite.isOffSeason, 'slideDiv_op': favourite.isOffSeason}">
            <div style="z-index: 1;
                      position:absolute;
                      width: 100%;
                      height: 100%;">
              <img [src]="favourite?.url" width="100%" height="100%">
            </div>
            <div style="height: 25px;
                      width: 100%;
                      opacity: 0.7;
                      margin-top: 75px;
                      z-index: 100;
                      position: absolute;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;" text-center
                 [style.background-color]="favourite?.hex">
            </div>
            <div style="height: 25px;
                      width: 100%;
                      margin-top: 75px;
                      z-index: 200;
                      position: absolute;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;" text-center>
            <span style="text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      display:inline-block;
                      text-transform: capitalize;
                      color: black;">{{favourite?.name}}</span>
            </div>
          </div>
        </div>
        <div style="overflow-wrap: break-word; white-space:normal; padding-top: 40px; color: grey" *ngIf="category?.favourite?.length===0">
          <span>Nothing yet. You will see the flowers that you mark as favourite in this section</span>
        </div>
      </div>
    </div>

  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Featured Flowers</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','featured','Featured Products',category?.featured)">VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let featured of category?.featured; let i = index"
         (click)="openSearch(featured,'featured')">
         <div [ngClass]="{'slideDiv': !featured.isOffSeason, 'slideDiv_op': featured.isOffSeason}">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="featured?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="featured?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    text-transform: capitalize;
                    color: black; ">{{featured?.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Seasonal Flowers</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','seasonal','Seasonal Flowers',category?.seasonal)">VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let seasonal of category?.seasonal | slice:0:10; let i = index"
         (click)="openSearch(seasonal,'seasonal')">
         <div [ngClass]="{'slideDiv': !seasonal.isOffSeason, 'slideDiv_op': seasonal.isOffSeason}">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="seasonal?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="seasonal?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    text-transform: capitalize;
                    color: black; ">{{seasonal?.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- There is naming discrubency with this , actually this shows all the flowers
   instead of flowers available all throught the year-->
  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>All Flowers</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','roundayear','All Flowers',category?.roundAYear)">VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let round of category?.roundAYear | slice:0:10; let i = index"
         (click)="openSearch(round,'roundayear')">
         <div [ngClass]="{'slideDiv': !round.isOffSeason, 'slideDiv_op': round.isOffSeason}">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="round?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="round?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    text-transform: capitalize;
                    color: black; ">{{round?.name}}</span>
        </div>
      </div>
    </div>
    <div style="overflow-wrap: break-word;white-space:normal; padding-top: 40px;color: grey" *ngIf="category?.roundAYear?.length===0">
      <span>No flowers found</span>
    </div>
  </div>


  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Flowers by Color</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#ffffff','color','Flowers by Color',category?.color)">
      VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let cat of category?.color; let i = index" (click)="openSearch(cat,'color')">
      <div style="position: relative; width: 90px; height: 100px;  position: relative;">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="cat?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7; 
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="cat?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    text-transform: capitalize;
                    color: white; ">{{cat?.name}}</span>
        </div>
      </div>
    </div>
    <!--<div class="menu-container" *ngIf="categoryProcess==='resolved'">-->
      <!---->
      <!--<div class="center" *ngIf="category?.color?.length===0">-->
  <!--<span>No Flowers added by Color-->
  <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <!--<div class="center" *ngIf="category?.color?.length===0">-->
  <!--<span>No Favourite Flowers added-->
  <!--</span>-->
  <!--</div>-->


  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Flowers by Type</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','type','Flowers by Type',category?.type)">
      VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let type of category?.type; let i = index" (click)="openSearch(type,'type')">
      <div style="position: relative; width: 90px; height: 100px;  position: relative;">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="type?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #C0C0C0" text-center>
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    text-transform: capitalize;
                    color: black;">{{type?.name}}</span>
        </div>
      </div>
    </div>
    <!--<div class="menu-container" *ngIf="categoryProcess==='resolved'">-->
      <!---->
      <!--<div class="center" *ngIf="category?.type?.length===0">-->
  <!--<span>No Flowers added by Type-->
  <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</ion-content>
