page-passcode-lock {
@keyframes ILS_shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
  @keyframes ILS_buttonPress {
    0% {
      background-color:#E0E0E0;
    }
    100% {
      background-color: #F8F8F8;
    }
  }



  /* Lock Screen Layout*/
  .ILS_lock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color:#0058a0;
    overflow: hidden;
  }
  .ILS_lock-hidden {
    display: none;
  }

  .attempts{
    height: 25px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #ffa07f;
  }
  .ILS_label-row {
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 21px;
    color:white;
  }
  .ILS_circles-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 40px;
  }
  .ILS_circle {
    background-color: #0058a0 !important;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border:solid 1px #ffa07f;
    margin: 0 15px;
  }
  .ILS_numbers-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 75px;
  }
  .ILS_digit {
    margin: 80px 15px;
    width: 80px;
    border-radius: 10%;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    font-size: 21px;
    color: white;
    z-index: 10;
    background-color:transparent;
  }
  .ILS_digit.activated {
    -webkit-animation-name: ILS_buttonPress;
    animation-name: ILS_buttonPress;
    -webkit-animation-duration: 0.3;
    animation-duration: 0.3s;
  }
  .ILS_ac {
    color: white;
    background-color:transparent;
  }
  .ILS_del {
    color:white;
    background-color:transparent;
  }
  .ILS_full {
    background-color: #ffffff !important;
  }
  .ILS_shake {
    -webkit-animation-name: ILS_shake;
    animation-name: ILS_shake;
    -webkit-animation-duration: 0.5;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
