


<ion-content>
  <div class="ILS_lock">
    <div class="ILS_label-row" text-capitalize>
      {{passcodeLabel}}
    </div>
    <div class="ILS_circles-row" [ngClass]="{'ILS_shake':passcodeWrong}">
      <div class="ILS_circle" [ngClass]="{'ILS_full':enteredPasscode.length>0}" ></div>
      <div class="ILS_circle" [ngClass]="{'ILS_full':enteredPasscode.length>1}" ></div>
      <div class="ILS_circle" [ngClass]="{'ILS_full':enteredPasscode.length>2}" ></div>
      <div class="ILS_circle" [ngClass]="{'ILS_full':enteredPasscode.length>3}" ></div>

    </div>

    <!-- if user is not setting the pin then do not display-->
    <div class="attempts" *ngIf="settings.pin">
      {{attemptsLeft}} attempts left
    </div>
    <div class="ILS_numbers-row">
      <div (click)="digit(1)" class="ILS_digit">1</div>
      <div (click)="digit(2)" class="ILS_digit">2</div>
      <div (click)="digit(3)" class="ILS_digit">3</div>
    </div>
    <div class="ILS_numbers-row">
      <div (click)="digit(4)" class="ILS_digit">4</div>
      <div (click)="digit(5)" class="ILS_digit">5</div>
      <div (click)="digit(6)" class="ILS_digit">6</div>
    </div>
    <div class="ILS_numbers-row">
      <div (click)="digit(7)" class="ILS_digit">7</div>
      <div (click)="digit(8)" class="ILS_digit">8</div>
      <div (click)="digit(9)" class="ILS_digit">9</div>
    </div>
    <div class="ILS_numbers-row">
      <div  (click)="all_clear()" class="ILS_digit ILS_ac">
        <ion-icon name="trash"></ion-icon>

      </div>
      <div (click)="digit(0)" class="ILS_digit">0</div>
      <div  (click)="delete()" class="ILS_digit ILS_del">
        <ion-icon name="backspace"></ion-icon>


      </div>
    </div>
  </div>

</ion-content>
