<ion-content  class="main-view" >
    <div class="overlay"></div>
    <ion-list no-lines class="modal_content">
    <h2 class="h2AdCrt" id="lbl_date">Add to Cart?</h2>
    <h2 id="offSeasonWarn" style="display:none" class="offSeasonAlertText">This product could be out of season during your order. The store will confirm it.</h2>
  
  
  
    <div  id = "fs_div_small" class="fs_div_small" no-lines> 

        <div style="width: 17%" (click)="smallSizeDecrement()">
          <p style="font-size: 0.85em; text-overflow: ellipsis; color: #a8a8a8">Small</p>
        </div>

        <div style="width: 22%;  align-items: center;" >
            <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="smallSizeDecrement()" round="true">
              <ion-icon class="iconColor" name="remove"></ion-icon>
            </button>
        </div>

        <div  style="width: 11%">
          <svg height="40" width="40">
            <circle cx="20" cy="20" r="20" stroke="#BFBFBF" stroke-width="1" fill="#FFFFFF" />
            <text x="50%" y="62.5%" text-anchor="middle" stroke="#BFBFBF" stroke-width="1px" >
                {{smallSizeCount}}</text>
          </svg>
        </div>
        
        <div style="width: 29%">
            <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="smallSizeIncrement()" round="true">
              <ion-icon class="iconColor" name="add"></ion-icon>
            </button>
        </div>
               
        <div (click)="smallSizeIncrement()" style="width: 21%">
            <p style="font-size: 0.9em; color: #a8a8a8">${{smallSizeCostTotal}}</p>
        </div> 
   </div>




   <div id = "fs_div_medium"  class="fs_div_small" no-lines> 

        <div style="width: 17%" (click)="mediumSizeDecrement()">
          <p style="font-size: 0.85em; text-overflow: ellipsis; color: #a8a8a8">Regular</p>
        </div>

        <div style="width: 22%;  align-items: center;" >
            <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="mediumSizeDecrement()" round="true">
              <ion-icon class="iconColor" name="remove"></ion-icon>
            </button>
        </div>

        <div  style="width: 11%">
          <svg height="40" width="40">
            <circle cx="20" cy="20" r="20" stroke="#BFBFBF" stroke-width="1" fill="#FFFFFF" />
            <text x="50%" y="62.5%" text-anchor="middle" stroke="#BFBFBF" stroke-width="1px" >
                {{mediumSizeCount}}</text>
          </svg>
        </div>
        
        <div style="width: 29%">
            <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="mediumSizeIncrement()" round="true">
              <ion-icon class="iconColor" name="add"></ion-icon>
            </button>
        </div>
               
        <div (click)="mediumSizeIncrement()" style="width: 21%">
            <p style="font-size: 0.9em; color: #a8a8a8">${{mediumSizeCostTotal}}</p>
        </div> 
   </div>



   <div id = "fs_div_large"  class="fs_div_small" no-lines> 

      <div style="width: 17%" (click)="largeSizeDecrement()">
        <p style="font-size: 0.85em; text-overflow: ellipsis; color: #a8a8a8">Large</p>
      </div>

      <div style="width: 22%;  align-items: center;" >
          <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="largeSizeDecrement()" round="true">
            <ion-icon  class="iconColor" name="remove"></ion-icon>
          </button>
      </div>

      <div  style="width: 11%">
        <svg height="40" width="40">
          <circle cx="20" cy="20" r="20" stroke="#BFBFBF" stroke-width="1" fill="#FFFFFF" />
          <text x="50%" y="62.5%" text-anchor="middle" stroke="#BFBFBF" stroke-width="1px" >
              {{largeSizeCount}}</text>
        </svg>
      </div>
      
      <div style="width: 29%">
          <button ion-button style="background-color:rgba(0,0,0,0)" clear (click)="largeSizeIncrement()" round="true">
            <ion-icon class="iconColor" name="add"></ion-icon>
          </button>
      </div>
             
      <div (click)="largeSizeIncrement()" style="width: 21%">
          <p style="font-size: 0.9em; color: #a8a8a8">${{largeSizeCostTotal}}</p>
      </div> 
 </div>



<div style="display: inline-flex; flex-direction: row ; top: 25px">
    <ion-checkbox class="specialOrderCb" [(ngModel)]="isFlowerSpecial"></ion-checkbox>
    <button  ion-button clear  round="true">
        <p style="font-size: 0.8em;color: #a8a8a8">Special Order</p>
    </button>
</div>

<div style="float: right">
  <ion-item no-lines>
      <button ion-button clear (click)="closeModal()" >CANCEL</button>
      <button ion-button clear (click)="onAddToEvent()">CONTINUE</button>
  </ion-item>
</div>
</ion-list>

</ion-content>
