/* ion-modal {
    
    position: absolute;
    display: block;
    width: 25em;
    height: 27em;
    contain: strict;
    box-shadow: 3px 3px 3px 3px #888888;
} */

page-flowersize {
    .main-view{
      background: transparent;
      overflow: hidden;
    }
    .overlay {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: .5;
      background-color: #333;
    }
    .modal_content {
      position: absolute;
      top: calc(20% - (20%/2));
      left: calc(10% - (10%/2));
      right: calc(10% - (10%/2));;
      width: 90%;
      min-height: 40%;
      padding: 10px;
      z-index: 100;
      margin: 0 auto;
      padding: 10px;
      color: #333;
      background: white;
      background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
      background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
      background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      overflow: hidden;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }
    
    .h2AdCrt{
       font-weight: bold;
       font-size: 1.4em;
       padding-left: 28px;
       padding-top: 10px;
       padding-bottom: 5%;
    }
    
    .divSmLabl{
        display: inline-flex;
        direction: row;
        float: left;
        padding-top: 7px;
        position: absolute;
        color: #A8A8A8;
        font-size: 0.8em;
    }
    
    .divPlus{
        display: inline-flex;
        direction: row;
       // float: right;
        padding-left:60px;
        padding-top: 4px;
        position: absolute;
    }
    
    .iconColor{
        color: #A8A8A8;
        font-size: 36px;
    }
    
    .divCircle{
        display: inline-flex;
        direction: row;
        padding-bottom: 10px;
        position: absolute;
        padding-left: 10px;
    }
    
    .divMinus{
        display: inline-flex;
        direction: row;
        float: left;
        padding-left: 9rem;
        padding-top: 4px;
    }
    
    
    .divSmCostLabl{
        display: inline-flex;
        direction: row;
        padding-top:11px;
        position: absolute;
        padding-left: 14rem;
        color: #A8A8A8;
        font-size: 0.8em;
    }
    
    .action{
        padding-top:70px;
        padding-left:5rem;
        position: relative;
        padding-bottom : 1em
      }
    
      .actionFont{
        color: #4B0082;
        font-weight: bold;
        font-size: 1.4em
      }

      .offSeasonAlertText{
          color: #ffc200;
          font-size: 0.9em;
          padding-left: 30px;
      }

      .specialOrderCb{
        font-size: 0.7em;
        margin-top: 13px;
        padding-left: 30px;
        color: #a8a8a8
      }

      .h2Special{
        color: #a8a8a8;
        font-size: 0.8em;
       // font-weight: 600;
      }

      .fs_div_small{
          display: inline-flex;
          flex-direction: row;
          width: 100%;
          padding-left: 30px;
         align-content: center;
         align-items: center;
       }
  }