page-custmrlist {
    .csl_searchTerm {
        width: 100%;
        text-decoration: none;
        height: 45px;
        border: none;
        background-color: transparent;
        font-size: 18px !important;
        
      }

      .opacityIcon{
        opacity: 0.5;
      }

      .cltrashIcon{
        opacity: 0.5;
       // float: right;
      }

      .addContact{
          font-size: 1.3em;
          color: #cca079;
          padding-left: 10%;
      }

      .contactName{
          font-size: 1.2em;
          color: black;
      }

      .contactPhone{
        font-size: 0.9em;
        color: grey; 
        padding-left: 30px;
      }
      .contactAdress{
        font-size: 0.8em;
        color: grey; 
        padding-left: 30px;
      }

      .clContactIcon{
        opacity: 0.5;
      }

      .clDivContIcn{
        width: 10%;
        top: 15%;
      }


      .clmain-view{
        background: transparent;
      }
      .cloverlay {
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .clmodal_content {
        position: absolute;
        top: calc(38% - (38%/2));
        left: calc(10% - (10%/2));
        right: calc(10% - (10%/2));;
        width: 90%;
        height: 55%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow-y: scroll;
      }
      .cl_noScriollDiv{
        overflow-y: hidden;
        padding-bottom: 15% !important;
      }
      .cl_scrollDiv{
        overflow-y: scroll;
      }

      .clmodal_header {
        position: absolute;
        top: calc(5% - (5%/2));
        left: calc(10% - (10%/2));
        right: calc(10% - (10%/2));;
        width: 90%;
        min-height: 40%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow-y: hidden;
      }
}

