
<ion-content class="clmain-view" padding>
  <div class="cloverlay" on-tap="dismiss()"></div>

<div class="clmodal_content"> 
  <ion-input #scust type="text" class="csl_searchTerm"  (ionChange)="customerSearch()"
  placeholder="Search Customer" [(ngModel)]="searchVal" ></ion-input> 
  <h2 style="color: grey; font-size: 1.2em" *ngIf="this.customerList.length ==0">No customer data found!</h2>
<ion-list *ngFor="let cust of customerList; let i = index">
  <div >
 <ion-item>
  <!--
   <div class="clDivContIcn">    
    <ion-icon name="contact" class="clContactIcon" item-start></ion-icon> 
   </div>  -->
   <div on-tap="onClickContact(cust);">
    <ion-item style="left:0" no-lines>
    <h2 class="contactName"> {{cust.name}}   </h2>
    </ion-item>

    <h2 class="contactPhone"> {{cust.phone}}   </h2>
      
    <h2 class="contactAdress"> {{cust.address}}   </h2>
   </div>
   <!-- <ion-icon name="close" class="cltrashIcon" on-tap="deleteCustomer(cust)" item-end></ion-icon> -->

 </ion-item>
</div>
</ion-list>
</div>
</ion-content>
