page-flowercolorselect {
    .main-view{
        background: transparent;
        overflow: hidden;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .modal_content {
        position: absolute;
        top: calc(20% - (20%/2));
        left: calc(10% - (10%/2));
        right: calc(10% - (10%/2));;
        width: 90%;
        min-height: 40%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }
  
      .no-scroll .scroll-content{
          overflow: hidden;
        }

        .h2AdCrt{
            font-weight: bold;
            font-size: 1.4em;
            padding-left: 12px;
            padding-top: 10px;
            padding-bottom: 5%;
         }  

        .actionFont{
            font-weight: bold;
            font-size: 1.1em
        }

        .divCancelButton{
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 12px;
            justify-content: center;
        }

        .h2Color{
            font-weight: 300;
            font-size: 1.1em;
            text-transform: capitalize;
        }

        .dot {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            outline: 3px;
            outline-width: 2px;
            outline-color: #333;
            float: right;
            margin-right: 16px;
          }



}
