<ion-content  class="main-view" >
  <div class="overlay" (tap)="closeModal()"></div>
<ion-list no-lines class="modal_content">
  <ion-item>
    <h2 class="h2AdCrt" id="lbl_date">Choose The Color</h2>
  </ion-item>

  <div  *ngFor="let color of colorCats">
    <ion-item  (tap)="colorSelected(color.name)">
      <ion-icon item-end outline>
          <span class="dot" [style.background-color]="color.hex"></span>  
      </ion-icon>
      <h2><p class="h2Color">{{color.name}} </p></h2>
    </ion-item>  
  </div>

  <div class="divCancelButton">
    <button ion-button clear (tap)="closeModal()" center >CANCEL</button>
  </div>
</ion-list>
</ion-content>

