
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-capitalize>Sign In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>




      <form [formGroup]="signinForm" (ngSubmit)="onSignIn()">

        <div style="padding-right: 18px;">
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input text-lowercase formControlName="email"
                       type="email">
            </ion-input>

          </ion-item>
          <div class="error" *ngIf="signinForm?.get('email').hasError('required') && signinForm.get('email').touched">
            Email is required
          </div>

          <div class="error"  *ngIf="signinForm.get('email').hasError('pattern') && signinForm.get('email').touched">
            Enter valid email
          </div>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password"
                       type="password"></ion-input>
          </ion-item>
          <div class="error" *ngIf="signinForm?.get('password').hasError('required') && signinForm.get('password').touched">
            Password is required
          </div>
          <div class="error" *ngIf="signinForm?.get('password').hasError('minlength') && signinForm.get('password').touched">
            Password length must be min 6
          </div>
          <div class="error" *ngIf="signinForm?.get('password').hasError('maxlength') && signinForm.get('password').touched">
            Password length must be max 20
          </div>
        </div>

        <div style="display: flex;align-items: flex-end;justify-content: flex-end">
          <button ion-button type="submit"  color="primary"  style="position: relative;top:15px;">
            Sign in
          </button>
        </div>


      </form>
    <div style="display: flex;align-items: flex-end;justify-content: flex-end; margin-top: 20px;" >
      <button ion-button no-margin no-padding clear  (click)="onForgotPassword()">
        Forgot your password?
      </button>
    </div>

<!-- 

  <div style="display: flex;align-items: flex-end;justify-content: flex-end;" >
    <button ion-button type="submit" color="primary" (click)="goToSignupPage()">

      signup
    </button>

  </div>  -->

  <div style="margin-top:30px; width:100%" text-center>
    <span style="color: gray">By Signing in, I accept the</span> <a style="color: red;text-decoration: underline" tappable (click)="onTnc()">Terms and Conditions</a> <span>and</span> <a style="color: red;text-decoration: underline" tappable (click)="onPrivacy()">Privacy Policy</a>
  </div>



<!--


  <button ion-button block color="teal" [disabled]="!credentialsForm.valid" class="customBtnHeight bottom" (click)="onSignIn()">
    Sign in
  </button>-->
</ion-content>
