page-signin {
  .card-md .item-md.item-block:not(.item-input):not(.item-select):not(.item-radio):not(.item-checkbox) .item-inner {
    border: 0;
  }





  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    margin-top: 15px;
  }
  .scroll-content{
    background: #fff;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }

  .or-container{
    width: 100%;
    text-align: center;
    position: relative;
    top: -10px;
  }

  .or-container span{
    background-color:white;
    width: 50px;
    color: gray;
    height:50px;
    border-radius: 50%;
    padding:5px;
    border: 1px solid gray
  }

  .webPage{
    width: 100%;
    height: 100%;
    border: none;
    }
}
