
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-capitalize>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>


  <div class="custom-card">

    <form [formGroup]="form"  #ngForm="ngForm"  (ngSubmit) ="passwordChange()" style="padding-right: 18px;">

      <ion-item>
        <ion-label floating>Current Password</ion-label>
        <ion-input  formControlName="currentPassword"
                   type="password">
        </ion-input>
      </ion-item>

      <div class="error" *ngIf="form?.get('currentPassword').hasError('required') && (form.get('currentPassword').touched || ngForm.submitted)">
        Current Password is required
      </div>

      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input  formControlName="newPassword"
                    type="password">
        </ion-input>
      </ion-item>

      <div class="error" *ngIf="form?.get('newPassword').hasError('required') && (form.get('newPassword').touched || ngForm.submitted)">
        New Password is required
      </div>
      <div class="error" *ngIf="form?.get('newPassword').hasError('minlength') && (form.get('newPassword').touched || ngForm.submitted )">
        New Password must be of minimum 6 character long
      </div>
      <div class="error" *ngIf="form?.get('newPassword').hasError('maxlength') && (form.get('newPassword').touched || ngForm.submitted)">
        New Password must be of maximum 20 character long
      </div>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input  formControlName="confirmPassword"
                    type="password">
        </ion-input>
      </ion-item>


      <div class="error" *ngIf="form.get('confirmPassword').hasError('required') && (form.get('confirmPassword').touched || ngForm.submitted)">
        Confirm password is required
      </div>
      <div class="error" *ngIf="form.get('confirmPassword').hasError('equalTo') && (form.get('confirmPassword').touched || ngForm.submitted)">
        Password does not match
      </div>

      <div style="display: flex;align-items: flex-end;justify-content: flex-end">
        <button ion-button type="submit"  color="primary"  style="position: relative;top:15px;">
          Change
        </button>
      </div>
    </form>

  </div>


</ion-content>
