// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.main-div{
  width: 100%;
}
.highlight {
  background-color: #f4f4f4;
}
// Material Design Sidemenu
#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../../assets/img/material-design-background.jpg');
    background-size: cover;
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .user-avatar {
    padding: .5em;
    height: 12vh;
  }
  h3,
  .label
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
}
.top-div{
  width: 100%;
  background-color: #0058a0;
  z-index: 1;
}

.bottom-div{
  background-color: white;
  width: 100%;
  z-index: 10;
}
.balance-div{
  padding-top: 32px;
  padding-bottom:32px;
  text-align: center;
}
.button-in-center{
  padding-top: 24px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  text-align: center;
}

.button-action{
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  text-align: center;
}

.customBtnHeight{
  height: 45px !important;
}

.bottom{
  left: 0;
  padding:0;
  bottom:0;
  margin: 0;
  position: absolute;
  display: block;
  width: 100%;

}
.custom-btn{
  height: 40px !important;
  width: 280px;
}

.centered-spinner {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -14px;
  margin-right: -14px;
  z-index: 100000;
}
.chip-active{
  border: 2px solid white;
}
.chip-inactive{
  border: 0;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md{
  margin-top: 15px;
}
.error{
  color: red;
  padding-left: 16px;
  margin-top: 4px;
}


.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}

modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 100%;
    opacity: 0.6;
    height: 100%;
  }
}


