page-intro {

  .slide-zoom{
    height: 400px;
  }
  .div-top{

    width: 100%;
    display: block;
    height: 150px;
    padding: 15px;
    text-align: center;

  }

  .div-bottom{
    width: 100%;
    display: block;
    margin-top:10px;
    text-align: center;
  }

  .text{
    padding-top:50px;
  }

  .img{
      margin: 0 auto;
      width:128px;
      height:128px;

    }

  .img1{
    background:url('../assets/icon/room-key.svg') no-repeat;

  }

  .img2{
    background:url('../assets/icon/rocket.svg') no-repeat;


  }

  .img3{
    background:url('../assets/icon/satellite.svg') no-repeat;


  }

  h2 {
    font-weight:bold;
    font-size:1.5em;
    color:white;
  }

  p {
    width:80%;
    display:block;
    margin: 0 auto;
    font-size:.9em;
    color:#ffffff;

  }

  .swiper-pagination-bullet-active {
    background: #ff6b31;
  }

  .swiper-pagination {
    bottom: 12% !important;
  }

  #skip {
    position:absolute;
    bottom:0;
    height: 36px;
    margin: 0;
    color:#ffffff;
    z-index:5;

  }
}
