
<ion-content style="background-color:#0058a0">
  <ion-slides pager (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()">
    <ion-slide>

      <div class="div-top">
        <div class="img img2" ></div>
      </div>

      <div class="div-bottom">
        <button (click)="copyAddress()" ion-button icon-left color="secondary">
          <ion-icon name="copy"></ion-icon>
          COPY PRIVATE KEY
        </button>

        <p class="text">
          <b>Attention:</b>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          </span>
        </p>
      </div>
    </ion-slide>



      <ion-slide>

        <div class="div-top">
          <div class="img img3"></div>
        </div>

        <div class="div-bottom">
          <h2>To da moon!</h2>
          <p>You have created an account. Now you are free to fly in the sky!</p>
        </div>
      </ion-slide>
  </ion-slides>
  <button ion-button clear block (click)="skip()" id="skip">{{ skipMsg }}</button>
</ion-content>
