page-order-comment-modal {
        label {
          color: color($colors, primary);
        }
        .main-view {
          background: transparent;
          overflow: hidden;
        }
        .overlay {
          position: fixed;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: .5;
          background-color: #333;
        }
        .modal_content {
          position: absolute;
          top: calc(50% - (50%/2));
          left: calc(10% - (10%/2));
          right: calc(10% - (10%/2));
          ;
          width: 80%;
          min-height: 50%;
          padding: 10px;
          z-index: 100;
          margin: 0 auto;
          padding: 10px;
          color: #333;
          background: white;
          background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
          background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
          background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
          border-radius: 5px;
          box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          overflow: hidden;
        }
        .no-scroll .scroll-content {
          overflow: hidden;
        }

        
      }
      .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: transparent;
        -webkit-box-shadow: inset 0 -1px 0 0;
        box-shadow: inset 0 -1px 0 0 transparent;
      }
      
      .action {
        position: absolute;
       bottom:16px;
       right:16px;
        
      }
      
      page-reminder-note-modal .modal_content{
        padding-right: 16px;
        border-radius: 2px;
      }
      
      h2{
        padding-left: 15px;
      }
      
      #cancel{
      position: absolute;
      right:8px;
      color: black;
      font-size: 1.5em;
      top:16px;
      }

     
