<ion-content class="main-view">
    <div class="overlay" (click)="goBack()"></div>
    <br>
    <ion-list class="modal_content">
        <button ion-button clear (click)="goBack()"  id="cancel"><ion-icon name="close"></ion-icon>
        </button>
      
      <div id="note">
          <h2>Comment</h2>
            <ion-item>
              <ion-label color="primary" floating >Add comment to this item</ion-label>
              <ion-textarea max="10" rows="5"  [(ngModel)]="comment"></ion-textarea>
            </ion-item>
      </div>
    
      <div class="action">
        <button ion-button clear (click)="saveToEvent()" id="save">DONE</button>
      </div>
      </ion-list>
      
</ion-content>
