<ion-header no-border>

  <ion-toolbar>

      <ion-buttons id="SP_theExtraBackButton" left>
          <button ion-button icon-start clear (click)="this.navCtrl.pop()">
            <ion-icon name="arrow-back" [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title class="mainTitle">
      <button class="monthButton" ion-button clear (click)="toggleCalendar()" color="dark">
        <h3 id="heading">
          <!-- <span *ngIf="viewTitle.includes('2018')"> -->
            {{viewTitle}}
          <!-- </span>  -->
          <!-- | date: 'MMMM' -->
          <!-- <span *ngIf="!viewTitle.includes('2018')">{{ viewTitle | date: 'MMM yyyy' }}</span>&nbsp; -->
          <span id="arrow">
            <ion-icon name="{{myArrow}}"></ion-icon>
          </span>
        </h3>
      </button>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="scrollTo($scroll)">
        <ion-icon name="calendar"></ion-icon>
      </button>

      <button ion-button icon-only color="dark">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content (click)="closeCal()" (ionScroll)="onPageScroll(event)" (ionScrollEnd)="onPageScrollEnd(event)">

  <ion-infinite-scroll threshold="30%" (ionInfinite)="doPastInfinite($event)" position="top" style="background:white" >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  <div (click)="addEvent()"  (swipe)="swipeEvent($event)"> 
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.calCurrentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" step="30" id="calendar">
    </calendar>
  </div>


  <ion-fab right bottom>
    <button ion-fab (click)="fabEvent()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
<div>

  <ion-list>
    <ion-item *ngFor="let date of dates" no-lines id="M{{(date.date).startOf('month').unix()}}" >
      <div class="month">
        <p>
          <strong>{{date.date | date:'MMMM yyyy'}}</strong>
        </p>
      </div>
      <img src="assets/img/{{date.date | date:'MMM'| lowercase }}.jpg">
      <br>

      <div class="week">
        <div>
          <div *ngFor="let w of date.week">
            <p class="blank">
              {{w.date | date:'MMM d'}} - {{w.end | date:'MMM d'}}
              <!-- <span *ngIf="!date.date.toString().includes('2018')">, {{ date.date | date: 'yyyy' }}</span> -->
            </p>
            <div *ngFor="let d of w.event" class="event" (click)="viewDetailsPage(d.eventId)">
              <div class="date">
                <div class="{{d.date | date:'ddMMMyyyy'}}">
                  <p>
                    <span style="font-size:1.75em">{{d.date | date:'dd'}}</span>
                    <br>
                    <strong>&nbsp;{{d.date | date:'EEE'}}</strong>
                  </p>
                </div>
              </div>
              <div class="order" [ngClass]="d.type">
                <p>
                  {{d.name}}
                </p>

                <div class="data">


                  <div *ngIf='d.phone != ""' id="contact" style="font-size:0.9em">
                    <hr>
                    <ion-icon name="call"></ion-icon>
                    <p style="font-weight: normal; padding:2px">&nbsp;&nbsp;{{d.phone}}&nbsp;&nbsp;</p>
                    <span style="font-size:1.2em">|</span>
                    <ion-icon name="pin"></ion-icon>
                    <p style="font-weight: normal; padding:2px">&nbsp;&nbsp;{{d.address}}&nbsp;&nbsp;</p>
                  </div>

                </div>

              </div>
            </div>


          </div>


        </div>
      </div>



    </ion-item>
    </ion-list>
  <ion-infinite-scroll threshold="30%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>


</ion-content>
