page-view-events {
  ion-navbar{
    height: 56px; 
  }
    #calendar{
      position: fixed;
      width:100%;
      top: 56px;
      left:0%;
      z-index:-2;
      background-color: #f8f8f8
    }
  .table-bordered[_ngcontent-c1], .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > th[_ngcontent-c1], .table-bordered[_ngcontent-c1] > thead[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tbody[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1], .table-bordered[_ngcontent-c1] > tfoot[_ngcontent-c1] > tr[_ngcontent-c1] > td[_ngcontent-c1] {
    border-color: #f8f8f8;
  }
  
  .monthview-selected[_ngcontent-c1]{
    background: color($colors, primary);
  }
  .event-detail-container{
    display: none;
  }
  table table-bordered table-fixed monthview-datetable{
    position: fixed;
      top: 56px;
      left:0%;
  }
      
   ion-content .scroll-content{
      margin: 0px;
    }
    ion-navbar {
      div.title {
        display: none;
      }
      .menu {
        float: left;
      }
      label label-md{
        height:35px;
      }
  
      h3#heading {
        margin: 0px;
        left:72px;
        text-transform: initial;
      }
      .toolbar-title-md{
  padding-left: 0px;
      }
    }
    ion-fab{
      padding: 8px;
    }
    h4 {
      text-transform: none;
    }
    .event {
      border-radius: 2px;
      padding:  8px 0px 8px 0px;
    }
    .eventAdd {
      border-radius: 2px;
      padding:  8px 0px 8px 0px;
      display: block;
    }
    .month {
      transform: translate(0,60%);
      text-align: center;
    }
    .month p strong{
      font-size:1.5em;
      color: white;
      padding: 4px 8px;
      background-color: #121212;
    }
    .date {
      float: left;
      height: 100%;
      p{
        color: #121212;
      }
      
    }
    h4 {
      position: absolute;
      top: 50%;
    }
    .order {
      background-color: #284938;
      color: white;
      padding: 8px;
      margin-left: 48px;
      border-radius: 2px;
      p{
        color: white;
        overflow-x: scroll;
        display: inline;
        font-size: 1em;
        font-weight: bold;    
      }
    }
    .add {
      background-color: white;
      border:2px;
      border-color: black;
      padding: 12px;
      margin-left: 48px;
      border-radius: 2px;
      #contact{
        display: none;
      }
      p{
        color: #8e9093;
        font-size: 1em;
        font-weight: 400;
       
      }
    }
    .blank {
      font-size: 1em;
      padding: 16px 0px 16px 64px;
      border-radius: 5px;
    }
    .holiday {
      background-color: #ffb7c5;
      color: #8e9093;
      padding: 8px;
      margin-left: 48px;
      border-radius: 2px;
      #contact{
        display: none;
      }
      p{
        color: #8e9093;
        font-size: 1em;
        font-weight: bold;
      }
    }
  
  #contact{
    display: block;
  }
  

  .data:first-child{
    background-color:red;
  }

  
  .backArrow{
    font-size: 30px;
  }
  
  .backArrow_lg{
    font-size: 36px;
  }
 
  }
  