<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
      <ion-buttons left>
          <button ion-button icon-start clear (click)="this.navCtrl.pop()">
            <ion-icon name="arrow-back" [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title>notifications</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of blogData">
    <ion-card-content>
      <div [innerHtml]="item.content"></div>
      <br>
      <br>
      <p *ngIf="item.createdAt != 'NaN'" style="color: grey; font-size: 0.7em; white-space: pre-line"> Created on {{item.createdAt | date:'dd-MM-yyyy HH:mm:ss'}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
