<ion-content padding class="main-view">
  <div class="overlay" (tap)="overlayDismiss()"></div>

  <div class="modal_content">

  <div style="padding-top : 5%" radio-group [(ngModel)]="modeOfDelivery" >
      <ion-item> 
      <ion-label>Delivery</ion-label>
      <ion-radio value="delivery" aria-checked="true" (ionSelect)="onModeChange(modeOfDelivery)"></ion-radio>
    </ion-item>  
    <ion-item>
    <ion-label>Pickup</ion-label>
    <ion-radio  aria-checked="false" value="pickup" (ionSelect)="onModeChange(modeOfDelivery)"></ion-radio>
    </ion-item>
  </div>
  <h2 id="warnInvalidMode" class="warningAddress" > Please select mode! </h2>

  <div id="daddrs">

    <ion-item >
        <ion-textarea placeholder="Delivery Address" [(ngModel)]="deliveryAddress" 
        (ionChange)="onAdressChange()"></ion-textarea>
      </ion-item>
    
      <h2 id="warnInvalidAddr" class="warningAddress" > Please enter valid address! </h2>
    
  </div>
  
  <button  class="buttonStyle" ion-button (click)="continue()" clear>
    OK
  </button>

</div>
</ion-content>
