<ion-header>

  <ion-navbar padding>

      <ion-buttons left>
          <button ion-button icon-start clear (click)="closePage()">
            <ion-icon name="arrow-back" [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
          </button>
        </ion-buttons>

    <ion-buttons end>
      <button (click)="clickedSearchIcon()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding> 

    <div class="divBackgroundColor">
        <p class="p-text">
          <strong>Favourite Flowers</strong>
        </p>
        <button class="view-button" ion-button outline color="dark"
                (click)="viewAllPage('#000000','favourite','Favourite Flowers',category?.favourite)">VIEW ALL
        </button>
      </div>
  
    <div class="sliding">
        <div class="menu-container" *ngIf="favouriteProcess==='resolved'">
          <div class="calendar" *ngFor="let favourite of category?.favourite; let i = index"
               (click)="openSearch(favourite,'favourite')">
               <div [ngClass]="{'slideDiv': !favourite.isOffSeason, 'slideDiv_op': favourite.isOffSeason}">
              <div style="z-index: 1;
                        position:absolute;
                        width: 100%;
                        height: 100%;">
                <img [src]="favourite?.url" width="100%" height="100%">
              </div>
              <div style="height: 25px;
                        width: 100%;
                        opacity: 0.7;
                        margin-top: 75px;
                        z-index: 100;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;" text-center
                   [style.background-color]="favourite?.hex">
              </div>
              <div style="height: 25px;
                        width: 100%;
                        margin-top: 75px;
                        z-index: 200;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;" text-center>
              <span style="text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        display:inline-block;
                        color: black;">{{favourite?.name}}</span>
              </div>
            </div>
          </div>
          <div style="overflow-wrap: break-word; white-space:normal; padding-top: 40px; color: grey" *ngIf="category?.favourite?.length===0">
            <span>Nothing yet. You will see the flowers that you mark as favourite in this section</span>
          </div>
        </div>
      </div>
  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Featured Products</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','featured','Featured Products',category?.featured)">VIEW ALL
    </button>
  </div>

  <div class="sliding"> 
    <div class="calendar" *ngFor="let featured of category?.featured; let i = index"
         (click)="openSearch(featured,'featured')">
         <div [ngClass]="{'slideDiv': !featured.isOffSeason, 'slideDiv_op': featured.isOffSeason}">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="featured?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="featured?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    color: black; ">{{featured?.name}}</span>
        </div>
      </div>
    </div>
    <!--<div class="menu-container" *ngIf="featuredProcess==='resolved'">-->
      <!---->
      <!--<div class="center" *ngIf="category?.featured?.length===0">-->
        <!--<span>No Featured Flowers added</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Seasonal Flowers</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','seasonal','Seasonal Flowers',category?.seasonal)">VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let seasonal of category?.seasonal| slice:0:10; let i = index"
         (click)="openSearch(seasonal,'seasonal')">
         <div [ngClass]="{'slideDiv': !seasonal.isOffSeason, 'slideDiv_op': seasonal.isOffSeason}">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="seasonal?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="seasonal?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    color: black; ">{{seasonal?.name}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- There is naming discrubency with this , actually this shows all the flowers
   instead of flowers available all throught the year-->
  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>All Flowers</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','roundayear','All Flowers',category?.roundAYear)">VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let round of category?.roundAYear| slice:0:10; let i = index"
         (click)="openSearch(round,'roundayear')">
         <div [ngClass]="{'slideDiv': !round.isOffSeason, 'slideDiv_op': round.isOffSeason}">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="round?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="round?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    color: black; ">{{round?.name}}</span>
        </div>
      </div>
    </div>
    <div style="overflow-wrap: break-word;white-space:normal; padding-top: 40px;color: grey" *ngIf="category?.roundAYear?.length===0">
      <span>No flowers found</span>
    </div>
  </div>



  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Flowers by Color</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#ffffff','color','Flowers by Color',category?.color)">
      VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let cat of category?.color; let i = index" (click)="openSearch(cat,'color')">
      <div style="position: relative; width: 90px; height: 100px;  position: relative;">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="cat?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center" text-center
             [style.background-color]="cat?.hex">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    color: white; ">{{cat?.name}}</span>
        </div>
      </div>
    </div>
    <!--<div class="menu-container" *ngIf="categoryProcess==='resolved'">-->
      <!---->
      <!--<div class="center" *ngIf="category?.color?.length===0">-->
  <!--<span>No Flowers added by Color-->
  <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <!--<div class="center" *ngIf="category?.color?.length===0">-->
  <!--<span>No Favourite Flowers added-->
  <!--</span>-->
  <!--</div>-->


  <div class="divBackgroundColor">
    <p class="p-text">
      <strong>Flowers by Type</strong>
    </p>
    <button class="view-button" ion-button outline color="dark"
            (click)="viewAllPage('#000000','type','Flowers by Type',category?.type)">
      VIEW ALL
    </button>
  </div>

  <div class="sliding">
    <div class="calendar" *ngFor="let type of category?.type; let i = index" (click)="openSearch(type,'type')">
      <div style="position: relative; width: 90px; height: 100px;  position: relative;">
        <div style="z-index: 1;
                    position:absolute;
                    width: 100%;
                    height: 100%;">
          <img [src]="type?.url" width="100%" height="100%">
        </div>
        <div style="height: 25px;
                    width: 100%;
                    opacity: 0.7;
                    margin-top: 75px;
                    z-index: 100;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #C0C0C0" text-center>
        </div>
        <div style="height: 25px;
                    width: 100%;
                    margin-top: 75px;
                    z-index: 200;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;" text-center>
          <span style="text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display:inline-block;
                    color: black;">{{type?.name}}</span>
        </div>
      </div>
    </div>
    <!--<div class="menu-container" *ngIf="categoryProcess==='resolved'">-->
      <!---->
      <!--<div class="center" *ngIf="category?.type?.length===0">-->
  <!--<span>No Flowers added by Type-->
  <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>

</ion-content>


