page-search {

  .search-bar{
    width: 100%;
    height: 45px;
  }
  .searchTerm {
    width: 100%;
    text-decoration: none;
    height: 45px;
    border: none;
    background-color: transparent;
    font-size: 18px !important;
  }
  .media-div{
    padding: 16px !important;
    display: flex;
    flex-direction: row;
  }
  .img-div{
    width: 75%;
    //background-color: yellow;
  }
  .price-div{
    width: 25%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    //background-color: gray;
  }

  td{
    height: 50px;
    font-size: 18px;
    text-align: center;
  }
  td-border-right{
    border-right:1px solid black !important;
  }
  .title-div{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 3px;
  }
  .title{
    color: black;
    font-size: 24px;
    text-transform: capitalize;
  }

  .subTittle{
    color: grey;
    font-size: 15px;
    text-transform: capitalize;
  }

  .description{
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
  }
  .action-div{
    padding-top: 8px;
    padding-bottom: 16px;
  }


  .grid{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .card{
    width: 100%;
  }
  .card-ios {
    //margin: 5px;
    width: 100%;
  }

  .grid[fixed] {
    width: 100%;
  }

  .colorSquare {
    max-width: 250px !important;
    height:200px;
    width: 100% !important;
   // border-radius: 50%;
    outline: 3px;
    outline-width: 2px;
    outline-color: #333;
    float: right;
    margin-right: 16px;
  }
  
  .backArrow{
    font-size: 30px;
  }
  
  .backArrow_lg{
    font-size: 36px;
  }
}
.modal-back-button{
	.back-button{
		display: block!important
	}
}

