<ion-header>

  <ion-toolbar>
    <ion-buttons id="SP_theExtraBackButton" left>
      <button ion-button icon-start clear (click)="closePage()">
        <ion-icon name="arrow-back"  [ngClass]="{'backArrow': !platformId, 'backArrow_lg': platformId}"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button clear icon-only (click)="onSpeechRecognition()">
        <ion-icon name="mic"></ion-icon>
      </button>
    </ion-buttons>

    <div class="search-bar">
      <ion-input type="text" class="searchTerm" (keyup)="doDelayedSearch($event)"
                 placeholder="Search flowers"></ion-input>
    </div>
  </ion-toolbar>


</ion-header>

<ion-content>
  <div id="div_Loading_text" style="font-size: 1.1em; color: red; display: none; text-align: center">Loading..</div>
  <div style="height: 100%; width: 100%;" *ngIf="process==='resolved'">
    <ion-grid no-border fixed>
      <ion-row no-border>
        <ion-col no-border col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 *ngFor="let data of paginatedDisplayData; let i=index">
          <ion-card no-padding no-margin>
            <div>
              <div class="media-div"> 
                  <div *ngIf="category == 'color'" class="img-div">
                      <ion-icon item-end outline style="width: 100%">
                          <span class="colorSquare" [style.background-color]="inputdata?.hex"></span>  
                      </ion-icon>
                    </div>
                 
                <div *ngIf="category != 'color'" class="img-div">
                  <img [src]="data?.product?.url_medium" (click)="displayImage(data)"
                       style="max-width: 250px !important; width: 100% !important; display:block; margin:auto;"
                       height="200px"/>
                </div>
                <div class="price-div">
                  <table align="center">
                    <tr>
                      <td colspan="2">Size</td>
                    </tr>
                    <tr>
                      <td style="border-right:1px solid black;"><span *ngIf="data?.product?.price_small>0">$</span>{{data?.product?.price_small>0?
                        data?.product?.price_small : '-'}}&nbsp;&nbsp;
                      </td>
                      <td>&nbsp;<span style="font-size: 12px">S</span></td>
                    </tr>
                    <tr>
                      <td style="border-right:1px solid black;"><span *ngIf="data?.product?.price_medium>0">$</span>{{data?.product?.price_medium>0?data?.product?.price_medium : '-'}}&nbsp;&nbsp;&nbsp;
                      </td>
                      <td>&nbsp;<span style="font-size: 15px;">M</span></td>
                    </tr>
                    <tr>
                      <td style="border-right:1px solid black;"><span *ngIf="data?.product?.price_large>0">$</span>{{data?.product?.price_large>0?data?.product?.price_large : '-'}}&nbsp;&nbsp;
                      </td>
                      <td>&nbsp;<span style="font-size: 18px;">L</span></td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="title-div">
                  <span class="subTittle">Est. No of Stems: {{data?.product?.est_stems}}</span>
              </div>

              <div class="title-div">
                  <span class="subTittle">Availability: {{display_seasons[i]}}</span>
              </div>

              <div class="title-div" style="padding-bottom: 12px">
                  <span class="subTittle">Colors: {{data?.product?.color}}</span>
              </div>

              



              <div class="title-div">
                <span class="title">{{data?.product?.name}}</span>
              </div>
              <div class="action-div">
                <button ion-button clear icon-only (click)="markAsFavourite(data)">
                  <ion-icon color="red" *ngIf="!data.isFavorite" name="ios-heart-outline"></ion-icon>
                  <ion-icon color="red" *ngIf="data.isFavorite" name="ios-heart"></ion-icon>
                </button>
                <button ion-button clear (click)="onAddToEvent(data.id,data.product)">ADD TO ORDER</button>

                <button ion-button clear icon-only style="float: right;" (click)="toggleShow(i)">
                  <ion-icon *ngIf="!data.show" name="ios-arrow-down"></ion-icon>
                  <ion-icon *ngIf="data.show" name="ios-arrow-up"></ion-icon>
                </button>
              </div>
              <div class="description" *ngIf="data?.show">
                <span style="opacity: 0.6; font-size: 14px;">{{data.product.description}}</span>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="center" *ngIf="displayData.length===0">
      <span>No Flowers Found, matching with your keywords&nbsp;
        <span style="margin: 0px;" *ngIf="keyword.length>0">"</span>
        {{keyword}}
        <span style="margin: 0px;" *ngIf="keyword.length>0">"</span>
      </span>
    </div>
  </div>
  <ion-infinite-scroll threshold="30%" *ngIf="currentLastElementIndex<productsLength" (ionInfinite)="doInfinite($event,'bottom')">
    <ion-infinite-scroll-content> loadingSpinner="bubbles" loadingText="Loading more flowers..."</ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
