page-mlistevent {
    .lscalendar {
        width: 90px;
        margin: 0px 16px 0px 0px;
        position: relative;
        display: inline-block;
        vertical-align: top;
      }

      .lscalTop {
        background: color($colors, primary);
        height: 20px;
        width: 90px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 6px 0 rgba(0, 0, 0, 0.19);
      }

      .lshook {
        position: absolute;
        left: 0%;
        top: -5%;
      }
      .lscalBot {
        background: linear-gradient(#ffffff, #EEEEEE);
        position: relative;
        width: 90px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 6px 0 rgba(0, 0, 0, 0.19);
      }
      .lsmonth {
        text-transform: uppercase;
        font-size: 1em;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        margin: 0px;
      }

      .lsdate {
        font-size: 3em;
        margin: 0px;
        text-align: center;
        vertical-align: middle;
        line-height: 70px;
      }
      .lsday {
        margin: 0px;
        font-size: 1.2em;
        text-align: center;
        vertical-align: middle;
      }
      .lsevent {
        overflow-wrap: break-word;
        font-size: 1em;
        padding: 8px;
        margin: 0px;
        width: 90px;
        text-align: center;
        vertical-align: middle;
        white-space: normal;
      }


      .ls_main-view{
        background: transparent;
        overflow-y: hidden;
      }
      .lsoverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .lsmodal_content {
        position: absolute;
        top: calc(50% - (50%/2));
        left: calc(10% - (10%/2));
        right: calc(10% - (10%/2));;
        width: 90%;
        min-height: 30%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }


      .lssliding {
        padding-top: 4px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        white-space: nowrap;
      }

      .january {
        background-color: #F44336
      }
      .febraury {
        background-color: #E91E63
      }
      .march {
        background-color: #9C27B0
      }
      .april {
        background-color: #673AB7
      }
      .may {
        background-color: #3F51B5
      }
      .june {
        background-color: #2196F3
      }
      .july {
        background-color: #03A9F4
      }
      .august {
        background-color: #00BCD4
      }
      .september {
        background-color: #009688
      }
      .october {
        background-color: #4CAF50
      }
      .november {
        background-color: #8BC34A
      }
      .december {
        background-color: #CDDC39
      }

      .ldot {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        outline-color: #333;
        float: left;
        position: relative;
      }
}
