<ion-content class="ls_main-view" padding>
  <div class="lsoverlay" (tap)="overlayDismiss()">  </div>
  
   <ion-item class="lsmodal_content" no-lines>
    <div class="lssliding">
    <div class="lscalendar" (click)="viewNewEventPage()">
        <div class="lscalTop">
          <strong>
            <p class="lsmonth" style="color:white">MONTH</p>
          </strong>
        </div>
        <div class="lscalBot">
          <img class="lshook" src="assets/img/calendar.png">
          <p class="lsdate" style="font-size: 2.5em;color: #676266;height: 68px;" >+</p>
          <p class="lsday" style="font-size: 1.25em;color: #676266;">Add New</p>
        </div>
        <strong>
          <p class="event"></p>
        </strong>
    </div>  
            
    <div style="display: inline-flex; flex-direction: row"  *ngFor="let event of eventList; let i = index" (click)="AddToEvent(event.eventId,event.name)">
      <div class="lscalendar" *ngIf="timestampNow <= event.datetimestamp">  
      <div class="lscalTop" [ngClass]="event.date | date:'LLLL' | lowercase ">

        <strong>
          <p class="lsmonth" style="color:white">{{event.date | date:'LLLL' | uppercase}}</p>

        </strong>
      </div>
      <div class="lscalBot">
        <img class="lshook" src="assets/calendar.png">
        <p class="lsdate">{{event.date | date:'dd'}}</p>
        <p class="lsday">{{event.date | date:'EEEE'}}</p>
      </div>
      <p *ngIf='event.orders == undefined || event.orders.length==0' class="lsevent" >
        <span class="ldot" [style.background-color]="'red'"></span> <span>{{event.name}}</span>
     </p>
     <p *ngIf='event.orders != undefined && event.orders.length!=0 && (event.isorderplaced==undefined || event.isorderplaced==false)' class="lsevent" >
         <span class="ldot" [style.background-color]="'#ffbf00'"></span> <span>{{event.name}}</span>
     </p>
     
     <p *ngIf='event.orders != undefined && event.orders.length!=0 && (event.isorderplaced!=undefined && event.isorderplaced==true)' class="lsevent">
         <span class="ldot" [style.background-color]="'green'"></span> <span>{{event.name}}</span>
     </p>
     </div>
    </div>
  </div>
</ion-item>
</ion-content>
