page-eventdetails {

.item-md {
  padding-left: 0px;
}
.item-inner {
  left: 72px;
}

.datePickButton{
  font-style: normal;
  text-transform: lowercase;
}

.datePicLabelGreay{
  color:#A8A8A8;
   padding-left : 2.5%
}

.datePicLabelBlack{
  color:#000000;
   padding-left : 2.5%
}

.opacityIcon{
  opacity: 0.5;
}

.opacityIcon1{
  opacity: 0.3;
}

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 -1px 0 0;
    box-shadow: inset 0 -1px 0 0 transparent;
  }
}

.ion-page.calenderHeight{
  position: absolute;
        top: 45%;
       // left: calc(10% - (10%/2));
       // right: calc(10% - (10%/2));;
        height: 55%;
        width: 100%;
        min-height: 30%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: white;
        background: -moz-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #ffffff 100%);
        background: linear-gradient(to bottom, #fff 0%, #ffffff 100%);
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

}
