<ion-content padding >
    
        <ion-list no-lines id="event_det_content">
            
            <ion-item id="nameOnContent">  
                <ion-icon name="text" class="opacityIcon" item-start></ion-icon>
                <ion-input  type="text" placeholder= "Order Title" [(ngModel)]="ED_Event.eventName" 
                (ionChange)="onNameChange()" >  </ion-input>
            </ion-item>
            <hr id="lineNameOnContent">
                <ion-item>   
                  <ion-icon name="calendar" class="opacityIcon" item-start></ion-icon>
                  <label id="lbl_date" class="datePicLabelGreay"  on-tap="pickDate()"
                  (ionChange)="onDateChange()"> {{dateToDisplay}} </label>
                    </ion-item>
                    
                    <ion-item style="display: none">
                    <ion-icon name="call" class="opacityIcon" item-start></ion-icon>
                    <ion-input type="tel" placeholder= "Phone" [(ngModel)]="ED_Event.phone"
                    (ionChange)="onPhoneChange()"></ion-input>   
                    </ion-item>
                    
                    <ion-item  style="display: none">  
                    <ion-icon name="pin" class="opacityIcon" item-start></ion-icon>
                    <ion-input type="text" placeholder= "Address" [(ngModel)]="ED_Event.address"
                    (ionChange)="onAdressChange()"></ion-input>
                    
                </ion-item>
                <hr>
              </ion-list>
              
</ion-content>