
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-capitalize>Sign Up</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div class="custom-card">

      <form [formGroup]="signupForm" (ngSubmit) ="onSignUp()">

        <div style="padding-right: 18px;">
          <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input text-capitalize formControlName="name"
                       type="text">
            </ion-input>
          </ion-item>

          <div class="error" *ngIf="signupForm?.get('name').hasError('required') && signupForm.get('name').touched">
            Name is required
          </div>
          <div class="error" *ngIf="signupForm?.get('name').hasError('minlength') && signupForm.get('name').touched">
            Name should be of minimum 3 characters
          </div>

          <div class="error" *ngIf="signupForm?.get('name').hasError('pattern') && signupForm.get('name').touched">
            Name should not contain number or any special characters
          </div>

          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input text-lowercase formControlName="email"
                       type="email">
            </ion-input>

          </ion-item>
          <div class="error" *ngIf="signupForm?.get('email').hasError('required') && signupForm.get('email').touched">
            Email is required
          </div>

          <div class="error"  *ngIf="signupForm.get('email').hasError('pattern') && signupForm.get('email').touched">
            Enter a valid email
          </div>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password"
                       type="password"></ion-input>
          </ion-item>
          <div class="error" *ngIf="signupForm?.get('password').hasError('required') && (signupForm.get('password').touched)">
            Password is required
          </div>
          <div class="error" *ngIf="signupForm?.get('password').hasError('minlength') && signupForm.get('password').touched">
            Password must be of minimum 6 character long
          </div>
          <div class="error" *ngIf="signupForm?.get('password').hasError('maxlength') && signupForm.get('password').touched">
            Password must be of maximum 20 character long
          </div>

          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" value="" formControlName="re_password"></ion-input>

          </ion-item>

          <div class="error" *ngIf="signupForm.get('re_password').hasError('required') && signupForm.get('re_password').touched">
            Confirm password is required
          </div>
          <div class="error" *ngIf="signupForm.get('re_password').hasError('equalTo') && signupForm.get('re_password').touched">
            Password Mismatch
          </div>

        </div>
        <!--<div no-lines *ngIf="( signupForm.get('re_password').hasError('equalTo') || signupForm.get('re_password').hasError('required') ) && signupForm.get('re_password').touched">-->
        <!--</div>-->

        <div text-center style="padding: 30px 0px 0px 0px">
          <button ion-button type="submit"  color="primary"  class="custom-btn">
            Sign up
          </button>
        </div>
      </form>

  </div>


  <div class="or-container">
    <span>
      OR
    </span>
  </div>


  <div text-center style="margin-top:20px;">
    <button ion-button style="background-color: white;color: black"
            class="custom-btn" (click)="goToSignInPage()">
      Sign in
    </button>
  </div>

  <div style="margin:30px 0px; width:100%" text-center>
    <span style="color: gray">By Signing up, I accept the</span> <a style="color: red;text-decoration: underline" tappable (click)="onTnc()">Terms and Conditions</a>

  </div>



  <!--


    <button ion-button block color="teal" [disabled]="!credentialsForm.valid" class="customBtnHeight bottom" (click)="onSignIn()">
      Sign in
    </button>-->
</ion-content>
