page-email-sent {
.bg{

}

  .scroll-content{
    background: #0058a0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0058a0, #82a1d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0058a0, #82a1d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }
}
