
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Mileto</ion-title>
      <ion-buttons end>
        <button ion-button icon-only menuClose>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item>
      <p style="color:primary; font-size: 1.2em">Mileto Flowers</p>
      <p style="color: grey">Version : {{appVersion}}</p>
    </ion-item>
    <ion-list no-lines>
      <button ion-item menuClose (click)="goToProfilePage()" class="opacity" detail-none>
        <ion-icon item-start name="contact">
        </ion-icon>
        Profile
      </button>

      <button ion-item menuClose (click)="goToStoreDetails()" class="opacity" detail-none>
        <ion-icon item-start name="paper">
        </ion-icon>
        Store details
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
